@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Hotel.Models.KorisnikBO

<div class="container-md d-flex flex-column flex-grow-1 gap-2 align-items-center ">
    <h1 class="text-center">Registracija</h1>
    <form class="w-25 text-center d-flex flex-column rounded-1 align-items-center" asp-controller="Account" asp-action="Register" method="post">

        <input asp-for="KorisnickoIme" class ="form-control mb-1"  type="text" placeholder="Korisnicko Ime" />
        <span  asp-validation-for="KorisnickoIme" class="text-danger"></span>

        <input asp-for="Email" class="form-control mb-1"  type="text" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>

        <input asp-for="Ime" class="form-control mb-1" type="text" placeholder="Ime"/>
        <span asp-validation-for="Ime" class="text-danger"></span>

        <input asp-for="Prezime" class="form-control mb-1"  type="text" placeholder="Prezime" />
        <span asp-validation-for="Prezime" class="text-danger"></span>

        <input asp-for="Password" class="form-control mb-1"  type="password" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        <input class="text-center btn btn-primary" type="submit" value="Registrujte se" />
    </form>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <h2 class="alert-danger p-2">@ViewBag.Error</h2>
    }
</div>