@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model RezervacijaBO;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/apartments/1.jpg" class="img-fluid rounded mb-3" alt="Apartment 1">
            <h3>Lux apartman 1</h3>
            <p class="mb-2">Ovaj luksuzni apartman ima 2 spavaće sobe sa bračnim krevetima i prostranim dnevnim boravkom sa kaučem na razvlačenje. Ukupno može ugostiti do 6 osoba. Apartman se nalazi na 2. spratu sa predivnim pogledom na planine. Ima modernu kuhinju sa svim potrebnim aparatima, 2 kupatila sa tušem i kadom, kao i terasu sa baštenskim nameštajem.</p>
        </div>
        <div class="col-md-6">
            <form>
                <h1 class="text-centered">Rezervacija</h1>
                <hr />
                <div class="form-group mb-3">
                    <label for="checkin">Datum dolaska:</label>
                    <input type="date" class="form-control" id="checkin" required>
                </div>
                <div class="form-group mb-3">
                    <label for="checkout">Datum odlaska:</label>
                    <input type="date" class="form-control" id="checkout" required>
                </div>
                <div class="form-group mb-3">
                    <label for="guests">Broj gostiju:</label>
                    <select class="form-control" id="guests" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="coupon">Kupon:</label>
                    <input type="text" class="form-control" id="coupon" placeholder="Ukoliko imate kupon, unesite ga ovde">
                </div>
                <div class="form-group mb-3">
                    <p>Subtotal: <strong>12000</strong> RSD | Total: <strong>10000</strong> RSD</p>
                </div>

                <button type="submit" class="btn btn-primary">Rezerviši</button>
            </form>
        </div>
    </div>
</div>