@{
    ViewData["Title"] = "Home Page";
}
<!-- Showcase -->
<div class="showcase d-flex flex-column align-items-center justify-content-center fw-bold text-light mt-3">
    <div class="showcase-text d-flex flex-grow-1 w-100 flex-column align-items-center justify-content-center">
        <img height="200px" class="logo" src="~/images/logo.svg" />
    </div>
</div>
<!-- End showcase -->
<h2 class="text-center m-2 mt-5 fw-bold fst-italic">Oseti   ~   Doživi   ~   Uživaj!</h2>
<!-- Accomodations -->
<div class="row mt-5">

    <div class="col-lg-6 p-2">
        <h2 class="fw-bold">Smeštaj</h2>
        <p>
            Dobrodošli u naš hotel! Naša misija je da Vam pružimo nezaboravan boravak i učinimo Vaš odmor što prijatnijim. Smeštaj u našem hotelu je vrhunski, sa udobnim krevetima i modernim sadržajima, kako bi se osećali kao kod kuće.
            Naša recepcija radi 24 sata dnevno, tako da smo uvek tu da Vam pružimo podršku i pomoć u bilo kojem trenutku. Naše ljubazno osoblje će se potruditi da Vaš boravak kod nas bude što prijatniji.
        </p>
    </div>
    <!-- Carousel -->
    <div id="carouselAccomodation" class="carousel slide col-lg-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselAccomodation" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselAccomodation" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselAccomodation" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/room1_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/room2_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/room3_1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccomodation" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselAccomodation" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- End accomodations -->
<!-- Activities -->
<div class="row mt-5">

    <div class="col-lg-6 p-2">
        <h2 class="fw-bold">Aktivnosti</h2>
        <p>
            Hotel Zlatibor je idealno mesto za one koji žele da uživaju u zimskim sportovima, paraglajdingu ili jahanju.
            Skijanje na padinama Zlatibora je nešto što se ne sme propustiti, a iskusni instruktori će vam pomoći da savladate sve tehničke veštine. 
            Ako volite avanturu, možete se oprobati u paraglajdingu i uživati u predivnom pogledu na planinu Zlatibor. Za one koji vole jahanje, 
            Hotel Zlatibor nudi mogućnost jahanja konja, a uz pratnju stručnih vodiča, možete istražiti prelepu prirodu oko hotela. Bez obzira na to koji od ovih sportova izaberete, 
            Hotel Zlatibor će vam pružiti nezaboravno iskustvo u prirodi.
        </p>
    </div>

    <!-- Carousel -->
    <div id="carouselActivities" class="carousel slide col-lg-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselActivities" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselActivities" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselActivities" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/activity_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/activity_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/activity_3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselActivities" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselActivities" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- End Activities -->

<!-- Call to action -->
<section class="py-5">
    <div class="container text-center">
        <h2 class="h1 mb-3">Vidimo se uskoro u našem hotelu!</h2>
        <p class="lead mb-4 px-5">Rezervišite Vaš boravak kod nas danas i uživajte u luksuznom smestaju, ljubaznom osoblju i obilju sadržaja koje nudimo.</p>
        <a href="/Ponuda" class="btn btn-primary">Pogledajte našu ponudu</a>
    </div>
</section>
<!-- End CTA-->

<!--Content-->
<div class="row mt-5">
    <!-- Carousel -->
    <div id="carouselContent" class="carousel slide col-lg-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselContent" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselContent" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselContent" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/activity_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/activity_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/activity_3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselContent" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselContent" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="col-lg-6 p-2">
        <h2 class="fw-bold">Sadržaj</h2>
        <p>
            Hotel Zlatibor nudi brojne pogodnosti kako bi se gosti osećali što prijatnije. Unutrašnji bazen je idealno mesto za opuštanje nakon celodnevnih aktivnosti, 
            a takođe možete koristiti i spa centar za dodatni komfor i relaksaciju. U restoranu hotela možete uživati u raznovrsnim jelima lokalne i internacionalne kuhinje,
            a takođe je dostupan i izbor pića i koktela. U galeriji hotela možete uživati u umetničkim delima, a često su dostupne i izložbe savremene umetnosti. 
            Bez obzira da li se radi o opuštanju u bazenu, uživanju u ukusnoj hrani ili razgledanju umetničkih dela, Hotel Zlatibor će vam pružiti nezaboravan boravak.
        </p>
    </div>
</div>
<!--End content-->
<!--staff-->
<div class="row mt-5">
    <!-- Carousel -->
    <div id="carouselStaff" class="carousel slide col-lg-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselStaff" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselStaff" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselStaff" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/activity_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/activity_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/images/activity_3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselStaff" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselStaff" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="col-lg-6 p-2">
        <h2 class="fw-bold">Osoblje</h2>
        <p>
            Osoblje hotela Zlatibor je veoma ljubazno i profesionalno, a uvek je spremno da pomogne gostima u svemu što im je potrebno.
            Recepcioneri su na raspolaganju 24 sata dnevno i spremni su da odgovore na sve vaše zahteve, a sobarice redovno čiste sobe 
            i održavaju ih u savršenom stanju. Osoblje restorana je veoma ljubazno i uvek se trudi da gostima obezbedi najbolje moguće iskustvo,
            dok osoblje spa centra nudi razne tretmane za relaksaciju i negu tela. Bilo da vam je potrebna pomoć oko rezervacije ili bilo kojeg 
            drugog zahteva, osoblje hotela Zlatibor će učiniti sve da vaš boravak u hotelu bude što ugodniji.
        </p>
    </div>
</div>
<!--End staff-->