@{
    ViewData["Title"] = "Home Page";
}

<div class="showcase d-flex flex-column align-items-center justify-content-center fw-bold text-light">
    <div class="showcase-text d-flex flex-grow-1 w-100 flex-column align-items-center justify-content-center">
        <h1>Hotel Zlatibor</h1>
        <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
    </div>
</div>

<div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="..." class="card-img-bottom" alt="...">
</div>