@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex mt-5 justify-content-center">
    <h1 class="text-center mt-5">Nemate pristup ovoj stranici!</h1>
</div>
