html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Custom css*/
.showcase {
    background-image: url("../images/showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
}
.showcase-text {
    background-color: rgba(0,0,0,0.3);
}