html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*Custom css*/
.showcase {
    background-image: url("../images/showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16rem;
}
.showcase-text {
    background-color: rgba(0,0,0,0.3);
}

.logo {
    /* to black */
    filter: invert(1);
}

/* Calendar */
td.day.disabled{
    color: orangered !important;
}

/* Reservation hisotry css*/

.status-Rezervisana {
    color: orange;
}

.status-Završena {
    color: green;
}

.status-Otkazana {
    color: red;
}

/*Admin panel css*/
.admin-link:hover{
    color:cornflowerblue;
}

.admin-link-selected{
    color:darkgray;
}
.icon-delete{
    color: red;
    background-color: transparent;
    border: 0px;
}

.icon-add{
    color: forestgreen;
}